---
import Button from '../components/Button.astro'
import Link from '../components/Link.astro'
import LayoutDescription from '../layouts/LayoutDescription.astro'
import { Icon } from 'astro-icon/components'
import { getImage } from 'astro:assets'
import EightfigImage from '../assets/8fig.png'
import BootcampImage from '../assets/bootcamp.png'
import CheckpointImage from '../assets/checkpoint.png'
import DefaultImageDesktop from '../assets/default_desktop.png'
import DefaultImageMobile from '../assets/default_mobile.png'

const isMobile = false

const opEightfigImg = await getImage({ src: EightfigImage })
const opBootcampImg = await getImage({ src: BootcampImage })
const opCheckpointImg = await getImage({ src: CheckpointImage })
const opDefaultImageDesktop = await getImage({ src: DefaultImageDesktop })
const opDefaultImgMobile = await getImage({ src: DefaultImageMobile })

// years experience
const currentTime = new Date().getTime()
const startingTime = new Date('10-01-2018').getTime()
const yearsExperience = new Date(currentTime - startingTime).getUTCFullYear() - 1970
---

<LayoutDescription>
	<div
		id="img-experience"
		style={`background-image: url('${opDefaultImageDesktop.src}')`}
		class=`bg-no-repeat bg-center bg-cover bg-[image:var(--image-url)] hover:opacity-30	`
	>
	</div>
	<div class="flex flex-col items-start justify-between gap-4 p-10">
		<div></div>
		<div class="animate-fadeIn">
			<h1 class="inline-block text-3xl font-light">Hi</h1>
			<span class="inline-block animate-wave text-3xl">👋</span>
			<h1 class="inline text-3xl font-light">
				, I'm Emilie a Software Engineer with {yearsExperience} years experience working in <Link
					id="checkpoint">corporate</Link
				> and <Link id="eightfig">startups</Link>. I love creating and <Link id="bootcamp"
					>sharing</Link
				> with inspiring people. My focus is React.js!
			</h1>
			<h2 class="animate-fadeInLater italic text-primary">
				You don't believe me? Hover over the underline text!
			</h2>
		</div>
		<div class="flex w-full animate-fadeIn flex-row items-center justify-evenly">
			<Button
				variant="ghost"
				class="px-2.5"
				onclick="window.open('/portfolio/assets/cv.pdf', '_blank')"
			>
				<Icon name="cv" size={20} />
			</Button>
			<Button
				variant="ghost"
				class="px-2.5"
				onclick="window.open('https://github.com/EmilieLny/','_blank')"
			>
				<Icon name="github" size={20} />
			</Button>
			<Button
				variant="ghost"
				class="px-2.5"
				onclick="window.open('https://www.linkedin.com/in/emilielnybaltman/','_blank')"
			>
				<Icon name="linkedin" size={20} />
			</Button>
		</div>
	</div>
</LayoutDescription>

<script
	is:inline
	define:vars={{
		opEightfigImg,
		opBootcampImg,
		opCheckpointImg,
		opDefaultImageDesktop,
		opDefaultImgMobile
	}}
>
	const onResetImage = () => {
		const imgExp = document.querySelector('#img-experience')
		imgExp.setAttribute('alt', 'Experience default')
		let isMobile = window.matchMedia('(max-width: 600px)').matches
		const img = isMobile ? opDefaultImgMobile : opDefaultImageDesktop
		imgExp.style.backgroundImage = `url("${img.src}")`
	}

	const onHover8fig = () => {
		const imgExp = document.querySelector('#img-experience')
		imgExp.setAttribute('alt', 'Experience 8fig')
		imgExp.style.backgroundImage = `url("${opEightfigImg.src}")`
	}

	const onHoverBootcamp = () => {
		const imgExp = document.querySelector('#img-experience')
		imgExp.setAttribute('alt', 'Experience bootcamp')
		imgExp.style.backgroundImage = `url("${opBootcampImg.src}")`
	}

	const onHoverCheckpoint = () => {
		const imgExp = document.querySelector('#img-experience')
		imgExp.setAttribute('alt', 'Experience checkpoint')
		imgExp.style.backgroundImage = `url("${opCheckpointImg.src}")`
	}

	const bootcampLink = window.document.querySelector('[data-link]#bootcamp')
	bootcampLink?.addEventListener('mouseover', onHoverBootcamp)
	bootcampLink?.addEventListener('mouseout', onResetImage)

	const checkpointLink = window.document.querySelector('[data-link]#checkpoint')
	checkpointLink?.addEventListener('mouseover', onHoverCheckpoint)
	checkpointLink?.addEventListener('mouseout', onResetImage)

	const eightfigLink = window.document.querySelector('[data-link]#eightfig')
	eightfigLink?.addEventListener('mouseover', onHover8fig)
	eightfigLink?.addEventListener('mouseout', onResetImage)
</script>
